.featured{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
 
.btn{
    border: none;
    font-size:20px;
    border-radius: 10px;
    width: 20rem;
    height: 5rem;
    background-color: #fff;
    color: rgb(2, 2, 2);
    cursor: pointer;
    
    -webkit-box-shadow: 0px 0px 11px 1px #21302F; 
    box-shadow: 0px 0px 11px 1px #21302F;
}

.btnLink{
    list-style: none;
    color: black;
    text-decoration: none;
}
